# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ObuhivDefend.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Telegram Desktop\ObuhivDefend\.idea\.idea.ObuhivDefend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
